@model MVCEvents.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Guests list of the @Model.Type on @Model.Date.ToShortDateString()</h2>

<p>
    @Html.ActionLink("Add new guest", "Create", "Guest", new { id = Model.EventId }, null)
</p>

<div class="col-md-12">
    <section id="socialLoginForm">
        @Html.Partial("_GuestDetails", Model.GuestsList)
    </section>
</div>
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to Event List", "Index")
</p>
